
.d-destinations-container {
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .d-destinations-heading {
    margin-bottom: 4px;
  }
  
  .d-destinations-subheading {
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .d-destinations-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4px;
  }
  
  .d-grid-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .d-big-image {
    grid-column: span 2;
    grid-row: span 2;
  }
  